body {
	font: 300 18px/calc(7 / 6) Helvetica, Arial, sans-serif;
	margin: 80px 8px 8px;
}

header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background-color: black;
	color: white;
	padding: 8px;
}

header > img {
	height: 56px;
	float: left;
	margin-right: 8px;
}

header > h1, header > h2 {
	text-transform: uppercase;
	margin: 0;
	font-size: 24px;
}

header > h1 {
	font-weight: 600;
	color: #DAAD00;
}

header > h2 {
	font-weight: 300;
	color: #1CC2E8;
}

header > h2 > .version {
	text-transform: none;
	color: white;
}

.suggestion {
	font-size: 15px;
	margin-bottom: 16px;
}

.suggestion > p {
	font-size: 18px;
	margin: 0px 0px 0px 0px;
}

.suggestion > p > p1 {
	font-size: 15px;
}

.suggestion > span {
	font-size: 16px;
	margin-left: 15px;
	margin-top: 0px;
	margin-bottom: 8px;
}

.suggestion > span a {
	text-decoration: inherit;
	color: inherit;
}
