body {
	font: 300 18px/calc(7 / 6) Helvetica, Arial, sans-serif;
	margin: 80px 8px 8px;
}

header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background-color: black;
	color: white;
	padding: 8px;
}

header > img {
	height: 56px;
	float: left;
	margin-right: 8px;
}

header > h1, header > h2 {
	text-transform: uppercase;
	margin: 0;
	font-size: 24px;
}

header > h1 {
	font-weight: 600;
	color: #DAAD00;
}

header > h2 {
	font-weight: 300;
	color: #1CC2E8;
}

header > h1 > .subtitle, header > h2 > .version {
	text-transform: none;
	color: white;
}

header > button {
	float: right;
	margin: 14px 0;
	border: none;
	background: none;
	color: inherit;
	font: inherit;
	font-size: 24px;
}

.suggestion {
	margin: 18px 0;
}

.suggestion > p {
	margin: 24px 0px 8px;
}

.suggestion > span {
	text-transform: uppercase;
	font-size: 15px
}

.suggestion > span em {
	font-style: inherit;
	font-weight: 600;
}

.suggestion > span a {
	text-decoration: inherit;
	color: inherit;
}

.bookmark {
	border-left: 3px solid #DAAD00;
	padding-left: 6px;
}

.random {
	border-left: 3px solid #1CC2E8;
	padding-left: 6px;
}

.bookmark.random {
	border-image: linear-gradient(#DAAD00, #1CC2E8) 0 3;
}
