<!DOCTYPE html>
<html>
	<head>
		<title>Brave New Faves Bot</title>
		<link rel="stylesheet" href="bnf.css">
	</head>
	<body>
		{{template "header"}}
		{{- range .}}
		<div class="suggestion">
			<p>{{.Message}}</p>
			<span>Suggested by <em>{{.User}}</em> // <a href="https://youtube.com/watch?v={{.VideoID}}" target="_blank"><em>Play</em></a> // <a href="/play?id={{.ID}}"><em>Remove</em> and add to played</a> // <a href="/delete?id={{.ID}}"><em>Remove</em></a></span>
		</div>
		{{- end}}
	</body>
</html>
