<!DOCTYPE html>
<html>

<head>
	<title>Brave New Faves Bot</title>
	<link rel="stylesheet" href="public/bnf.css">
</head>

<body>
	{{template "header"}}
	{{- range .}}
	<div class="suggestion">
		<p>{{.Artist}} - {{.Title}}</p> {{.Description}}
		<span>Suggested by <em>{{.Username}}</em> // <a href="{{.URL}}" target="_blank"><em>Play</em></a>
			// <a href="/play?id={{.ID}}"><em>Remove</em> and add to played</a> // <a href="/delete?id={{.ID}}"><em>Remove</em></a></span>
	</div>
	{{- end}}
</body>

</html>