<!DOCTYPE html>
<html>

<head>
  <title>Brave New Faves Bot</title>
  <link rel="stylesheet" href="public/bnf.css">
</head>

<body>
  {{template "header"}}
  <form action="/post" method="post">
    <label for="artist">Artist</label>
    <input type="text" id="artist" name="artist" autofocus >
    <br>
    <label for="title">Title</label>
    <input type="text" id="title" name="title" >
    <br>
    <label for="description">Description</label>
    <input type="text" id="description" name="description" >
    <br>
    <label for="url">Link</label>
    <input type="text" id="url" name="url" >
    <br>
    <label for="username">Suggested By</label>
    <input type="text" id=username name="username" >
    <br>
    <input type="submit" >
  </form>
